In [ ]:
!pip install boto3
!pip install awswrangler

In [128]:
%env aws_access_key_id=AKIASPG3VE3KGTL2HGMN
%env aws_secret_access_key=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
%env region_name = us-east-1

env: aws_access_key_id=AKIASPG3VE3KGTL2HGMN
env: aws_secret_access_key=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
env: region_name=us-east-1

In [129]:
import pandas as pd
import boto3
import awswrangler as wr
import os

key_id = os.environ['aws_access_key_id']
access_key = os.environ['aws_secret_access_key']
region = os.environ['region_name']

sesion = boto3.session.Session(aws_access_key_id=key_id, aws_secret_access_key=access_key, region_name=region)

connection = sesion.resource(service_name='s3')
filenames = [obj.key for obj in connection.Bucket('henry-pg9').objects.all()]
weather = []
zones = []
trips = []

for name in filenames:
    if name[9:11] == 'NY':
        weather.append(name)
    elif name[9:13] == 'taxi':
        zones.append(name)
    elif name[9:15] == 'yellow':
        trips.append('s3://henry-pg9/'+name)
    else:
        print(f'{name} is an invalid filename.')

# -- Descarga de datasets y concatenación en un solo DataFrame por clase en caso de que sean varios archivos -- #
weather_objs = [connection.Bucket('henry-pg9').Object(filename).get() for filename in weather]
weather_dfs = [pd.read_csv(obj['Body']) for obj in weather_objs]
df_weather = pd.concat(weather_dfs, ignore_index=True) 

zones_objs = [connection.Bucket('henry-pg9').Object(filename).get() for filename in zones]
zones_dfs = [pd.read_csv(obj['Body'], index_col='LocationID') for obj in zones_objs]
df_zones = pd.concat(zones_dfs, ignore_index=True)

trips_dfs = wr.s3.read_parquet(trips, boto3_session=sesion, path_suffix='.parquet')

processed_data/ is an invalid filename.
raw_data/ is an invalid filename.

In [130]:
trips_dfs

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.50,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,NaN
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.70,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,NaN,NaN
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.80,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,NaN,NaN
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,NaN,NaN
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.50,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8760682,1,2018-01-31 23:21:35,2018-01-31 23:34:20,2,2.80,1,N,158,163,1,12.0,0.5,0.5,2.65,0.0,0.3,15.95,NaN,NaN
8760683,1,2018-01-31 23:35:51,2018-01-31 23:38:57,1,0.60,1,N,163,162,1,4.5,0.5,0.5,1.15,0.0,0.3,6.95,NaN,NaN
8760684,2,2018-01-31 23:28:00,2018-01-31 23:37:09,1,2.95,1,N,74,69,2,10.5,0.5,0.5,0.00,0.0,0.3,11.80,NaN,NaN
8760685,2,2018-01-31 23:24:40,2018-01-31 23:25:28,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,NaN,NaN
8760686,2,2018-01-31 23:28:16,2018-01-31 23:28:38,1,0.00,1,N,7,193,2,0.0,0.0,0.0,0.00,0.0,0.0,0.00,NaN,NaN